################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/cloudflare-server/wrangler.jsonc
/client/wrangler.toml
