###############################################################################
# Node / TypeScript
###############################################################################
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TS build artifacts
*.tsbuildinfo

###############################################################################
# Prisma / database
###############################################################################
# SQLite database file (dev only)
prisma/*.db
prisma/*.sqlite

# Generated Prisma client (re-created by `prisma generate`)
node_modules/.prisma/
prisma/generated/
.prisma/
prisma/Migrations
*.sql

###############################################################################
# Environment & secrets
###############################################################################
.env
.env.*.local
.env.local

###############################################################################
# Logs & misc
###############################################################################
logs/
*.log
*.tmp
.DS_Store
Thumbs.db
*.pem